/* Great Vibes Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Nunito Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
}

p {
    font-weight: 500;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

h4 {
    font-size: 34px;
    color: #111;
    font-weight: 400;
    font-family: 'Great Vibes';
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    font-family: 'Nunito';
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.Banner-sec-about {
    height: 400px;
    background-image: url(/assets/images/about-breadcumb-bkg.jpg);
    background-size: cover;
    background-position: center;
}

.Banner-sec-about .breadcrumb-about {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* page title */
.Banner-sec-about .breadcrumb-about h4 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Nunito';
    /* margin-bottom: 8px; */
    color: #000;
    /* margin: 58px 0px; */
}

/* breadcrumb clean */
.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.breadcrumb-item {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: #555;
}

/* section padding */
.tabsec {
    padding: 50px 0px 0px 0px;
}

/* nav center */
section.tabsec nav {
    display: flex;
    justify-content: center;
}

/* tab buttons */
.tabsec .nav-tabs {
    border-bottom: none;
}

.tabsec .nav-link {
    color: #666;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 24px;
    border-bottom: none;
    border-radius: 0;
    margin: 0 5px;
    background: #fff;
}

/* active tab */
.tabsec button.active {
    color: #ffd72f !important;
    border-color: #ccc;
    z-index: 2;
    border: 1px solid #ccc;
}

.tabsec .nav-link:hover {
    color: #ffd72f;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 25px;
    margin-top: -1px;
    background: #fff;
}

.tab-pane {
    line-height: 1.7;
}

/* grid */
section.grid-sec {
    padding: 75px 0px;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 275px);
    gap: 30px;
}

.one {
    grid-column: 1/3;
    grid-row: 1/3;
}

.two {
    grid-row: 1/2;
    grid-column: 3/5;
}

.three {
    grid-column: 3/4;
    grid-row: 2/3;
}

.four {
    grid-column: 4/5;
    grid-row: 2/3;
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

/* accordion */
section.accordion-sec {
    background-color: #F2F2F2;
    padding: 70px 0px;
}

section.accordion-sec .accordion-sec .tab-content .content h4 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Nunito';
}

.tab-contnet .content h4 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Nunito';
}

.tab-contnet .content p {
    color: #666;
    font-size: 15px;
    margin: 30px 0px ;
}
button {
    color: #000;
}

.accordion-button {
    position: relative;
}

.accordion {
    margin: 40px 0px;
}

.accordion .accordion-item {
    border: none;
    padding: 10px 0px ;
    
}

.accordion .accordion-item h2 button {
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px !important;
}
.accordion-button:not(.collapsed) {
    color: #ffd72f;
    background-color: transparent;
    box-shadow: none;
}
 .accordion-button::after {
        background-image: unset;
        position: absolute;
        content: '\f107';
        font-family: "Font Awesome 6 Free";
        right: auto;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7deff;
        border-radius: 50%;
        color: #1e0761;
        font-size: 14px;
        font-weight: 900;
        border: none;
    }

    .accordion-button:not(.collapsed)::after {
        content: "\f146";
    }
     .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-body {
    padding: 1.5rem 1.25rem 1.5rem 60px;
    background-color: #F2F2F2;
    transition: all 0.3s ease;
    line-height: 1.6;
}

.accrodin-sec .tab-contnet {
    padding: 56px 0px  0px 0px;
}

/* simple card section */
.simple-card {
  padding: 80px 0;
  background: #f8f9fa;
}

.simple-card .card-group {
  gap: 25px;
}

.simple-card .card {
  border: none;
  padding: 35px 25px;
  text-align: center;
  border-radius: 12px;
  background: #ffffff;
  /* transition: all 0.4s ease; */
}
/* icon styling */
.simple-card .icons{
  width: 70px;
  height: 70px;
  margin: 0  auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simple-card .icons i {
  font-size: 50px;
  color: #ffd72f;
  transition: color 0.3s linear;
}
.simple-card .icons i:hover {
  color: #000;
  animation: bounceUpDown 0.7s ease-in-out 1;
}

/* keyframes */
@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-12px); 
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(12px); 
  }
  100% {
    transform: translateY(0);
  }
}

/* card content */
.simple-card .card-title a {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
}

.simple-card .card-text {
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin-top: 10px;
  font-weight: 500;
}
/* COUNTER */
.counter-sec{
    padding: 95px 0px;
    background-image: url(/assets/images/about-parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.counter h2 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    margin: 0;
}

.counter p {
    font-size: 18px;
    color: white;
}

.counter {
    text-align: center;
}
/* .end-about */
section.end-sec {
    padding: 75px 0px;
}

.end-content {
    text-align: center;
}

.end-content h3 {
    font-size: 15px;
    color: #666;
}

.end-content h4 {
    font-size: 30px;
    font-family: nunito;
    font-weight: 700;
    margin: 0;
}

.end-content p {
    margin: 0 auto;
    color: #666;
    width: 100%;
    padding: 30px 0px 45px 0px;
}

.end-content a {
    padding: 14px 32px;
    background-color: #ffd72f;
    color: #000;
    font-weight: 700;
    border-radius: 29px;
}
.end-content a:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}