/* Great Vibes Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Nunito Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
}

p {
    font-weight: 500;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

h4 {
    font-size: 34px;
    color: #111;
    font-weight: 400;
    font-family: 'Great Vibes';
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    font-family: 'Nunito';
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.Banner-sec-about {
    background-image: url(/assets/images/about-breadcumb-bkg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.Banner-sec-about .breadcrumb-about {
    position: absolute;
    top: 50%;
    left: 50%;
}

.breadcrumb .breadcrumb-item a {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.breadcrumb {
    padding: 45px 0px 0px 0px;
}

nav.breadcrumb-about h4 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Nunito';
    margin: 0;
}

/* tab-sec */
.tabsec {
    padding: 50px;
}

.tabsec button {
    color: #666;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 24px;
}

.tabsec button.active {
    color: #ffd72f !important;

}

section.tabsec nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-pane {
    padding: 20px;
    border: 1px solid black;
}

section.tabsec nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-Content .tap-pane {
    padding: 20px;
}