
section.middle-sec {
    padding: 64px 0px;
}

.middle-box h4 {
    font-size: 30px;
    font-family: 'Nunito';
    font-weight: 700;
}

.middle-box p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 23px;
}

.middle-box h4 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Nunito';

}