
/* Great Vubes Font-Family*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Nunito Font-Family*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

p{
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}